// Header structure:
$header-height: 54px;
$header-padding: 7px;

header {
  height: $header-height;
  text-align: center;
  background: $yellow;
  padding: $header-padding 0;
  box-sizing: border-box;

  #header-content {
    position: relative;
    padding: 0 0 0 80px;
  }
}

$child-height: $header-height - 2 * $header-padding;

header img.site-logo {
  display: block;
  height: $child-height;
  position: absolute;
  left: 0;
  top: 0;
}

header form {
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  & > * {
    height: $child-height
  }

  input {
    color: $grey-400;
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 56px 10px 10px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
  }

  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: $grey-100;
    padding: 0 6px;
    cursor: pointer;
    &:hover {
      background: lighten($grey-100, 2%);
    }

    img.search-icon {
      padding: 10px;
      height: $header-height - 2 * $header-padding;
      box-sizing: border-box;
    }
  }
}
