$yellow: #ffe600;
$blue: #3483fa;
$grey-100: #eeeeee;
$grey-200: #999999;
$grey-300: #666666;
$grey-400: #333333;

$total-columns: 12;

@import 'normalize.min';

body {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
  background: $grey-100;
  color: $grey-400;
}

a {
  text-decoration: none;
  color: inherit;
}

.full-body-container {
  $max-width: 1400px;
  max-width: $max-width;
  margin: 0 auto;
}

.full-body-content {
  box-sizing: border-box;
  margin-left: 1 / $total-columns * 100%;
  width: 10 / $total-columns * 100%;
}

@import 'header';
@import 'breadcrumb';
@import 'items';
@import 'item';