$yellow: #ffe600;
$blue: #3483fa;
$grey-100: #eeeeee;
$grey-200: #999999;
$grey-300: #666666;
$grey-400: #333333;

$total-columns: 12;

body {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
  background: $grey-100;
  color: $grey-400;
}

@import 'header';
