<header>
  <div class="full-body-container">
    <div id="header-content" class="full-body-content">
      <a href="/">
        <img class="site-logo" src="/images/logo.png">
      </a>
      <form action="/items">
        <input name="search" placeholder="Nunca dejes de buscar"
               value="<%= locals.search || '' %>"><button class="search-button">
          <img class="search-icon" src="/images/search.png">
        </button>
      </form>
    </div>
  </div>
</header>
