#item {
  background: white;
  border-radius: 4px;
  padding: 32px;
  margin-top: 16px;
  margin-bottom: 16px;

  #item-main {
    .item-picture {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      .picture-spacer {
        padding-right: 32px;
        img {
          width: 100%;
        }
      }
    }
    .item-main-info {
      display: inline-block;
      width: 40%;
      vertical-align: top;
    }

    .condition-and-sold-quantity {
      font-size: 14px;
      margin: 0 0 16px 0;
    }

    h1 {
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 32px 0;
    }

    .price {
      font-size: 46px;
      margin: 0 0 32px 0;
      .decimals {
        font-size: 24px;
        vertical-align: super;
      }
    }

    .buy-btn {
      width: 100%;
      max-width: 250px; // ugh
      font-size: 16px;
      padding: 10px;
      border: none;
      color: white;
      background: $blue;
      border-radius: 4px;
      cursor: pointer;
      outline: none;
      display: inline-block;
    }
  }

  #item-description {
    width: 60%;
    h2 {
      font-size: 28px;
      font-weight: 400;
      margin: 32px 0;
    }

    #description {
      overflow: auto;
      zoom: 1;
      * {
        max-width: 100%;
      }
    }


  }

  .preview & {
    position: relative;
    overflow: hidden;
    @include loading();
    #item-main {
      h1 {
        background: $grey-100;
        width: 100%;
        height: 1em;
        display: inline-block;
      }

      .price {
        background: $grey-100;
        width: 60%;
        height: 1em;
        display: inline-block;
      }

      .buy-btn {
        background: $grey-100;
        color: $grey-100;
      }

      .no-img {
        background: $grey-100;
        width: 100%;
        padding-top: 3 / 4 * 100%;
      }

      .condition-and-sold-quantity {
        width: 60%;
        height: 1em;
        background: $grey-100;
        display: inline-block;
      }
    }
    #item-description {
      h2 {
        width: 60%;
        height: 1em;
        background: $grey-100;
        color: $grey-100;
      }
      #description {
        background: $grey-100;
        width: 680px;
        height: 400px;
      }
    }
  }
}