$yellow: #ffe600;
$blue: #3483fa;
$grey-100: #eeeeee;
$grey-200: #999999;
$grey-300: #666666;
$grey-400: #333333;

$total-columns: 12;
$small-margin: 16px;
$medium-margin: 32px;
$max-container-width: 1400;

@import 'normalize.min';
@import 'media_queries';

body {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
  background: $grey-100;
  color: $grey-400;
}

a {
  text-decoration: none;
  color: inherit;
}

.full-body-container {
  max-width: $max-container-width;
  margin: 0 auto;
}

.full-body-content {
  margin-left: $small-margin;
  margin-right: $small-margin;
  @include md-breakpoint {
    box-sizing: border-box;
    margin-left: 1 / $total-columns * 100%;
    margin-right: 0;
    width: 10 / $total-columns * 100%;
  }
}

@keyframes loading {
  0% {
    left: -25%;
  }
  100% {
    left: 125%;
  }
}

@mixin loading {
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@import 'header';
@import 'breadcrumb';
@import 'items';
@import 'item';
@import 'error';