<div id="error" class="full-body-content">
    <div class="center-content">
        <h1>Esta página no existe</h1>
        <ul id="suggested-actions">
            <li>Prueba utilizando el buscador para encontrar lo que buscas.</li>
            <li>Utiliza palabras más genéricas o menos palabras.</li>
        </ul>
    </div>
</div>