<% if (response.categories) { %>
    <ol id="breadcrumb" class="full-body-content">
        <% for (var i=0; i < response.categories.length; i++) { %>
            <li><%= response.categories[i] %></li>
        <% } %>
    </ol>
<% } %>