<header>
  <img class="site-logo" src="/images/logo.png">
  <input type="text" placeholder="Nunca dejes de buscar"><button class="search-button">
    <img class="search-icon" src="/images/search.png">
  </button>
</header>
