<header>
  <div id="header-grid">
    <div id="header-content">
      <img class="site-logo" src="/images/logo.png">
      <form action="/items">
        <input type="text" name="search" placeholder="Nunca dejes de buscar"><button class="search-button" type="submit">
          <img class="search-icon" src="/images/search.png">
        </button>
      </form>
    </div>
  </div>
</header>
